.hero{
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../assets/Section1/bg.jpg");
    background-size: cover;
    padding: 80px 0 178px;

&-partners{
    display: flex;
    align-items: center;

    &-item{
        margin-left: 60px;
    

    &:first-child{
        margin-left: 0;
    }
    }
}

&-navigation{
    margin-top: 45px;

    &-item{
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 74px;
        font-weight: normal;
        font-size: 19px;
        line-height: 22px;

        &:first-child{
            margin-left: 0;
        }
    }
}

&-title {
font-weight: normal;
font-size: 57px;
line-height: 67px;
color: #FFFFFF;
margin: 108px 0 133px;
width: 664px;
}

&-link{
display: inline-block;
background: #B78A3F;
color: #FFFFFF;
padding: 35px 151px;
font-weight: normal;
font-size: 32px;
line-height: 37px;
}
}